/*
  oo__          _      _          __oo
      """--,,,_(_)_--_(_)_,,,--"""
              _>_[____]_<_
      ___--""" (_)\__/(_) """--___     
  oo""        Samuel Snopko       ""oo
*/

/*FONT*/
@font-face { 
  font-family: Lato; src: url('../fonts/Lato-Regular.ttf');
  font-weight: normal;
} 

@font-face {
  font-family: Lato; src: url('../fonts/Lato-Light.ttf'); 
  font-weight: lighter;
}
/*temp*/
a:hover/*, a:focus*/ {
  color: #726973;
}
/*end temp*/

*, *:after, *:before { 
  box-sizing:border-box;
}

body, html {
    width:100%;
    height:100%!Important;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

body {
  background: #000;
  font:300 100%/1.5 'Lato',Helvetica,Verdana,Geneva,sans-serif;
  text-align: center;
  margin:0;
}

#skrollr-body{
  width: inherit;
  height: inherit;
}

a {
  color: #00aeef; 
  text-decoration: none;
  outline: none;
}

a:visited{
 color:#00aeef;
}

h1, h2{
  margin: 0;
}

em{
  color:#00aeef;
  font-style: normal;
}

input, textarea{
  font-family:inherit;
  font-weight: inherit;
  font-size:100%;
}

button{
  -webkit-appearance:button;cursor:pointer;}



.isprite{
  display:inline-block;
  overflow:hidden;
  background-repeat:no-repeat;
  background-image:url("../img/iteas-sprite.png");
}

/* navigation*/
.nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  min-height: 3.5em;
  background-color: hsla(0,0%,0%,0.8);
  padding-left: 10%;
  padding-right: 10%;
}

#top-menu{
  padding: 0;
  width:21rem;
  float: right;
  display: block;
}

#top-menu a{
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
}

#top-menu li.active a{
  color:#726973;
}

.nav li{
  float: left;
  display: inline;
  margin-left: 4%;
  font-weight: 400;
}

.isprite.logo {
  width:80px;
  height:40px;
  background-position: -190px -2px;
  float: left;
  margin-top: 0.5em; 
}

/* main picture*/
.flash {
  position:relative;
  height: 85%;
  width: inherit;
  min-height: 35em;
}

.flash .cover {
  width:inherit;
  min-height:100%!important;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  left:0;
  -webkit-filter: blur(5px);
  filter: url(blur.svg#blur);
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
}

.title {
  width: 100%;
  position: absolute;
  top: 50%;
  color: white;
  background-color: hsla(50, 0%, 0%, 0.5);
  font-family:'Roboto', sans-serif; 
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration:2s;
  -webkit-animation-delay: 1s;
  -webkit-backface-visibility: hidden;
}

.flash h1{
  font-size: 4em;
  line-height: 1.1;
  padding-top: 0.1em;
}

.flash h1 > strong{
  font-weight: 700;
  color:#00aeef;
}

.flash h2{
  border-top: 2px dashed #acacac;
  color: #acacac;
  text-transform: uppercase;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    } 100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

/*parallax*/
.bcg{
  height: 27em;
  padding-top: 9.5em;  
}

/*parallax 1*/
.scroll-1 .bcg {
  background-image:url('../img/skroller.png');
}

/*parallax 2*/
.scroll-2 .bcg {
  background-image:url('../img/skroller2.png');
}

/*parallax 3*/
.scroll-3 .bcg {
  background-image:url('../img/skroller3.png');
}

.scroll .cit{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  background-color: hsla(50, 0%, 0%, 0.5);
  font: 300 1.5em/1.4 'Roboto', Helvetica,sans-serif;
}

.scroll .cit > strong{
  font-weight: 700;
  color:#00aeef;
}

.scroll .cit > i{
  text-transform: none;
  font-size: 1rem;
  color: #acacac;
}

/*sections*/
.section{
  background-color: #ffffff;
  padding-bottom: 2rem;
}

.section > .pane{
  background-color: #f5f5f5;
  padding-bottom: 0.5rem;
  box-shadow: 0 5px 5px -3px #d7d7d7;
}

.pane > h1{
  padding-top: 3%;
  color: #000000;
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 1rem;
  position: relative;
}
.pane > h1:before, .pane > h1:after { /*line in pane title*/
    position: absolute;
    top: 68%;
    width: 8%;
    height: 2px;
    content: '\a0';
    background-color: #d7d7d7;
    margin-left: 1%;
}

.pane > h1:before {   /*line in pane title*/
    margin-left: -9%;
    text-align: right;
}

.pane > #dashed{
  font-size: 1.5em;
  padding-bottom: 0.5em;
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px dashed #d7d7d7;
}

/*service*/
.service > #boxes{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

#boxes > span{
  margin: 0 1em 1em 1em;
  width:18em;
  background-color: #f5f5f5;
  display: inline-block;
  box-shadow: 2px 1px 2px 0px #d7d7d7;
}

span > .top_dashed{
  padding-top: 0.5em;
  border-top: 2px dashed #d7d7d7;
  font:300 1.6em/1.4em 'Roboto',Helvetica,sans-serif;
  color: #464646;
}

span > .info{
  margin: 1em 1.2em 0em 1.2em;
  color: #707070;
  text-align: left;
  font-weight: lighter;
  font-size: 1.2em;
  line-height: 1.2em;
  padding-bottom: 2em;
}
.sprite{
  margin-right: auto;
  margin-left: auto;
  overflow:hidden;
  background-repeat:no-repeat;
  background-image:url('../img/service_sprite.png');
}

#boxes > span:hover{
  background-color: #00aeef;  
}

span.box:hover .top_dashed, span.box:hover .info{
  border-color: #ffffff;
  color: #ffffff;
  background: #00aeef;
}

.sprite.outsourcing{
  width:12.250rem;
  height:11.250rem;
  background-position: -614px -0px;
  margin-top: 1.563rem;
  margin-bottom: 1.563rem;
}
span.box:hover .outsourcing{
  width:12.250rem;
  height:11.250rem;
  background-position: -418px -0px;
}

.sprite.security{
  width:13.063rem;
  height:11.750rem;
  background-position: -209px -0px;
  margin-top: 1.313rem;
  margin-bottom: 1.313rem;
}

span.box:hover .security{
  width:13.063rem;
  height:11.750rem;
  background-position: -0px -0px;
}

.sprite.dev{
  width:13.000rem;
  height:9.875rem;
  background-position: -1019px -0px;
  margin-top: 2.250rem;
  margin-bottom: 2.250rem;
}

span.box:hover .dev{
  width:13.063rem;
  height:9.875rem;
  background-position: -810px -0px
}

/*reference panel*/
div#reference_panel{
  /*width: 87%;*/
  min-width: 20em;
  max-width: 90em;
  margin: auto;
  margin-top: 0.5em;
}

span.panel{
  display: inline-block;
  height: 10em;
  width: 22em;
  margin: auto;
}
#adidas{
  background: url('../img/adidas.png') no-repeat center 1em white;
}

span.panel > div{
  opacity: 0;
  max-width: inherit;
  min-height: inherit;
  background-color: hsla(0, 0%, 20%, 0.91);
  padding-top: 1rem;
  color: #ffffff;  
  font-size: 1.5rem;
  line-height: 1rem;
}

span.panel > div > em{
  font-size: 0.9rem;
  color:#ffffff;
}

span.panel > div > div{
  padding: 1rem 0.5rem 0 0.5rem;
  font-size: 1rem;
  line-height: 1.1em;
  text-align: left;
}

span.panel:hover > div{
  opacity: 1;
}

/*about*/
.about > #articles{
  width: 85%;
  max-width: 53em;
  margin-left: auto;
  margin-right: auto;
}
.about article{
  font: 300 1.1em/1.4em 'Roboto', Helvetica, sans-serif;
  text-align: left;
  min-height: 8.75rem;
  margin-top:2rem; 
  color: #999999;
}

.about img{
  float:left;
  margin-right: 3rem;
}

.about .article{
  padding-top: 0.5rem;
}

/*mail form*/
.contact .form{
  width: 50%;
  max-width: 50rem;
  min-width: 20rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.form input{
  width: 49%;
  display: inline-block;
  min-height: 2rem;
  background-color: #f5f5f5;
  padding: 0.4rem;
  margin-top: 0.5rem;
  border:none;
  box-shadow: inset 1px 1px 2px #999999;
  float: left;
}

.form .error{
  box-shadow: inset 1px 1px 2px #999999, 0 0 10px red;
}

.error::-webkit-input-placeholder {
  color: red;
}
.error:-moz-placeholder {
  color: red;
}
.error:-ms-input-placeholder { /* IE10+ */
  color: red;
}
.error::-moz-placeholder{
  color: red;
}

.form p {
  font-size: 1.3rem;
  margin-top: 3rem;
}

.form input#right{
  margin-left: 0.1em;
}
.form input#left{
  margin-right: 0.1em;
}

#right{
  float: right;  
}

.form textarea{
  padding: 0.4rem;
  background-color: #f5f5f5;
  margin-top: 0.8rem;
  width:100%;
  height:12rem;
  border:none;
  resize:none;
  box-shadow: inset 1px 1px 2px #999999;
}

.form button{
  margin: 1rem auto 0 auto;
  display: block;
  border: none;
  background-color: #00aeef;
  color: #ffffff;
  font: 300 1.1em/100% 'Lato', Helvetica, sans-serif;
  padding: 0.5rem 2rem 0.5rem 2rem;
  box-shadow: 0 2px #cccccc;
}

.isprite.mail{
  width:20px; height:13px; background-position: -391px -2px;
  margin-right: 0.5em;
}

/*maps section*/
.foot{
  position: relative;
  height: inherit;
}

.footer a{
  color: hsla(0, 0%, 100%, 0.9);
}
.footer a:hover,.foot a:focus {
  color: #726973;
}

/*map*/
#map_canvas {
  width: 100%;
  height: inherit;
  position: absolute;
  bottom: 0;
}

.footer{
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 10;
  background-color: hsla(50, 0%, 0%, 0.8);
}

.footer > .box{
  width: 50%;
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
}

.footer > .box > span{
  display: inline-block;
  min-width: 10rem;
  width: 33%;
  min-height: 6rem;
  color: hsla(0, 0%, 100%, 0.9);
  padding-top: 1rem;
}

.box > #left{
  text-align: left;
  float: left;
}

.box > #center{
  float: left;
}

.isprite.logo_bw{
  width:149px; height:76px; background-position: -39px -2px;
  margin-right: auto;
  margin-left: auto;
}

.box > #right{
  text-align: right;
  font-size: 0.7rem;
  float: left;
}

.box > #right > span{
  float: none;
  font-family: Roboto, 'sans-serif';
  font-size: 1.2rem;  
}

.box > #copyright{
  clear: both;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: hsla(0, 0%, 100%, 0.9);
}

.circle {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background:#000000;
    border:0.13rem solid #666666;
    position:absolute;
    top:-1.8rem;
    right:23%;
}
.arrow-up {
    position:absolute;
    width: 0;
    height: 0;
    top:36%;
    left:27%;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-bottom: 0.5rem solid #666666;
}

/*infobox*/

.infoBox > img{
  display: none;
}

.arrow-down {
  position:absolute;
  width: 0;
  height: 0;
  top: 125px;
  left: 31px;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 18px solid #ffffff;
}

.label {
  color:#000000;
  position: absolute;
  background-color: #ffffff;
  width: 18rem;
  height: 8rem;
  padding: 1.5rem;
  padding-bottom: 1.9rem;
}

.cover_label{
  position: absolute;
  width: 18rem;
  height: 8rem;
  background-color: hsla(0,100%,100%,1);
  opacity:0;
}

.direction_label{
  position: absolute;
  width: 18rem;
  height: 8rem;
  display: table;
  opacity: 0;
}
.isprite.direction_arrow{
  width:35px; height:35px; background-position: -2px -2px;
  float: left;
  margin:0 0.2rem 0 1.2rem;
}

.direction_label p{
  display: table-cell; 
  vertical-align: middle; 
  text-align: left;
  font: 700 2.5em/1 'Roboto', Helvetica,sans-serif;
  color:#726973;
}

#maplabel:hover .direction_label, #maplabel:hover .cover_label{
  opacity: 1;
}

.isprite.logo_label{
  margin-top: 0.4rem;
  width:117px; height:59px; background-position: -272px -2px;
  float: left;
}

#address{
  display: inline-block;
  font-family: Roboto, 'sans-serif';
  text-align: left;
  float: right;
}

#address > strong{
  font-size: 1.7em;
  font-weight: 400;
  color: black;
}

/*--------------- media queries --------------*/
@media (max-width:960px){
  .footer > .box {
    width: 30rem;
  }
}

@media (max-width: 800px) {
  .contact .form{
    width:75%;
  }
}

@media (max-width: 640px) {
  .about img{
    float:none;
    margin: 0 auto 0 auto;
    display: block;
  }
  div.article{
    width: 234px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer > .box {
    width:10rem;
  }

  .box > #left, .box > #right, .box > #center{
    display: none;
  }

  .box > #copyright{
    padding-bottom: 0.5rem;
    margin: 0;
  }

  body{
    font-size: 14px;
  }

  .pane > h1:before, .pane > h1:after { /*line in pane title*/
    top: 60%;
  }

  .scroll .cit{
    font-size: 1em;
  }

  .scroll .cit > i{
    font-size: 1em;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  body{
    font-size: 10px;
  }

/* navigation*/
  .nav{
    min-height: 3.5em;
    background-color: hsla(0,0%,0%,0.8);
    padding-left: 3%;
    padding-right: 2%;
  }

  #top-menu{
    width:70%;
    float: right;
  }

  .nav li{
    margin-left: 4%;
  }

  .isprite.logo{
    background-image:url("../img/logo_iteas_mob.png");
    background-size: cover;
    width:50px;
    height:25px;
    background-position: left;
  }

  .flash h1{
    font-size: 2.5em;
  }

  .flash h2{
    line-height: 1;
    padding-bottom: 0.3em;
  }

  #boxes > span{
    font-size: 14px;
  }

  span.panel{
    height: 14em;
    width: 24em;
  }

  .about article{
    font-size: 1.8em;
  }

  input, textarea{
    font-size: 1.4em;
  }

  .form input{
    width: 100%;
  }

  .label, .direction_label, .cover_label{
    left: -90px;
  }

}

