.header {
  background: rgba(0, 0, 0, 1);
/*  border-bottom: 1px solid #e2e2e2;
  box-shadow: 1px 1px 8px rgba(102, 102, 102, 0.3);*/
  /*font: 12px/1.2 Helvetica, Arial, sans-serif;*/
  left: 0;
  /*letter-spacing: 0;*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; 
}


.menu {
  margin: 0 auto;
  max-width: 89.427%;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
  height: 103px;
  vertical-align: middle;
}

img.logo {
  top:20px;
  height: auto;
  width: 100px;
}